
<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Créer un  Utilisateur</ion-title>
        <ion-button slot="start" (click)="closeModal()" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-toolbar>
    <ion-grid>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Nom Utilisateur: " [(ngModel)]="dataUtilisateurs.NomUser" required="true">
              </owl-form-field>
          </ion-col>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Contact(s): " [(ngModel)]="dataUtilisateurs.ContactUser" required="true">
              </owl-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Email: " [(ngModel)]="dataUtilisateurs.MailUser" required="true">
                </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Pseudo: " [(ngModel)]="dataUtilisateurs.PseudoUser" required="true">
                </owl-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <owl-form-field>
                  <input type="password" owlInput placeholder="Mot de passe: " [(ngModel)]="dataUtilisateurs.MotDePasse" required="true">
              </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                  <owl-select [(ngModel)]="dataUtilisateurs.IdProfil" placeholder="Profil">
                      <owl-option>
                          Aucun
                        </owl-option>
                    <owl-option *ngFor="let profil of profilData" [value]="profil._id">
                      {{profil.nomProfil}}
                    </owl-option>
                  </owl-select>
                </owl-form-field>
            </ion-col>
          </ion-row>
    </ion-grid>
    <ion-item lines="none">
        <ion-button slot="end" (click)="submitForm()"> 
          Ajouter
        </ion-button>
    </ion-item>
</ion-card>
