<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Liste du Personnel</ion-title>
      <ion-fab-button routerLink='/utilisateur-create' slot="end" size="small"><ion-icon name="add">
      </ion-icon></ion-fab-button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
   <ngx-datatable
   [rowHeight]="'auto'"
   [sortType]="'multi'"
   [headerHeight]="50"
   [footerHeight]="50"
   [rows]="utilisateursData"
   [columnMode]="'force'"
   [limit]="4"
   class="material">
      
      <ngx-datatable-column name="Nom Utilisateur">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.NomUser}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Contact Utilisateur">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.ContactUser}}
            </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Email utilisateur" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.MailUser}}
            </ng-template>
      </ngx-datatable-column> -->
<!-- 
      <ngx-datatable-column name="Pseudo utilisateur" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.PseudoUser}}
            </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Profil utilisateur" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.IdProfil.nomProfil}}
            </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Equipe utilisateur" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.IdEquipe}}
            </ng-template>
      </ngx-datatable-column> -->

      <!-- <ngx-datatable-column name="Zone utilisateur" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.IdZone}}
            </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            
            <ion-button size="small" routerLink='/utilisateur-edit/{{row._id}}'>
              <ion-icon fill="outLine" color="warning" name="create"></ion-icon>
            </ion-button>
  
            <ion-button  size="small" routerLink='/utilisateur-detail/{{row._id}}'>
              <ion-icon color="success" name="eye"></ion-icon>
            </ion-button>
            
            <ion-button size="small" (click)="delete(row)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
            </ng-template>
      </ngx-datatable-column>

  
      <!--- create a column for action detail, delte, update -->
      <!-- <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            
            <ion-button size="small" (click)="openEditModal(row)">
              <ion-icon color="warning"  name="create"></ion-icon>
            </ion-button>
  
            <ion-button  size="small" (click)=openDetailModal(row)>
              <ion-icon color="success" name="eye"></ion-icon>
            </ion-button>
            
            <ion-button size="small" (click)="delete(row)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
            </ng-template>
      </ngx-datatable-column> -->
    </ngx-datatable> 
  </ion-content>