<ion-header>
    <ion-toolbar color="tertiary">
        <ion-menu-button></ion-menu-button>
      <ion-title>Liste des diagnostques</ion-title>
      <ion-fab-button (click)="openAddModal()" slot="end" size="small"><ion-icon name="add">
      </ion-icon></ion-fab-button>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="ion-padding">
    <ngx-datatable
    [rowHeight]="'auto'"
    [sortType]="'multi'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rows]="dataDiagnostique"
    [columns]="columns"
    [columnMode]="'force'"
    [limit]="5"
    [ngClass]="tableStyle">
      <ngx-datatable-column name="Description du probleme">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DescriptionProbleme}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name=" description des pieces" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DesignationPieces}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            
            <ion-button size="small" (click)="openEditModal(row)">
              <ion-icon fill="outLine" color="warning" name="create"></ion-icon>
            </ion-button>
  
            <ion-button  size="small" (click)="openDetailModal(row)">
              <ion-icon color="success" name="eye"></ion-icon>
            </ion-button>
            
            <ion-button size="small" (click)="delete(row)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
            </ng-template>
      </ngx-datatable-column>
    
    </ngx-datatable>
  </ion-content>

  <ion-card >
    <ion-item color="primary1">
    
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item color="tertiary1">
      
    </ion-item>
  </ion-card>