<ion-card>
  <ion-toolbar color="tertiary">
      <ion-title>Détail Profil</ion-title>
      <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
        <ion-icon color="light" name="arrow-round-back"></ion-icon>
      </ion-button>
      </ion-toolbar>
  <ion-grid>
      <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput [owlDateTime]="createDate" [owlDateTimeTrigger]="createDate" [(ngModel)]="dataDetailProfil.DateCreation" placeholder="Date Création: ">
                  <owl-date-time [pickerType]="'calendar'" #createDate>
                  </owl-date-time>
                </owl-form-field>
          </ion-col>
          <ion-col>

          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Code: " [(ngModel)]="dataDetailProfil.codeProfil" required="true">
              </owl-form-field>
          </ion-col>
          <ion-col>
            <owl-form-field>
              <input owlInput placeholder="Intitulé: " [(ngModel)]="dataDetailProfil.nomProfil" required="true">
          </owl-form-field>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <owl-form-field>
                <owl-select [(ngModel)]="dataDetailProfil.rolesIds" [multiple]="true" placeholder="Rôle(s)">
                  <owl-option *ngFor="let role of dataRole" [value]="role._id">
                        {{role.IntituleRole}}
                  </owl-option>
                </owl-select>
              </owl-form-field>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-card>