<ion-card>
        <ion-toolbar color="tertiary">
            <ion-title>Détail Rôle</ion-title>
            <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
              <ion-icon color="light" name="arrow-round-back"></ion-icon>
            </ion-button>
            </ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <owl-form-field>
                        <input owlInput placeholder="Code: " [(ngModel)]="dataDetailRole.CodeRole" required="true">
                    </owl-form-field>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <owl-form-field>
                      <textarea owlInput placeholder="Intitulé: " [(ngModel)]="dataDetailRole.IntituleRole" required="true">
                      </textarea>
                  </owl-form-field>
              </ion-col>
            </ion-row>
        </ion-grid>
</ion-card>