<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Liste des Roles </ion-title>
      <ion-fab-button slot="end" [routerLink]="'/role-create'" size="small"><ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-toolbar>
  </ion-header>
  
    <ion-content class="ion-padding"> 
      <ngx-datatable
      [rowHeight]="'auto'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rows]="roleData"
      [columns]="columns"
      [columnMode]="'force'"
      [limit]="5"
      [ngClass]="tableStyle"

        >
        
        <ngx-datatable-column name="Intitulé de role ">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.IntituleRole}}
              </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="code de role ">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.CodeRole}}
              </ng-template>
        </ngx-datatable-column>
    
        <!--- create a column for action detail, delte, update -->
        <ngx-datatable-column name="Actions" [sortable]="true">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              
              <ion-button size="small" (click)="openEditModal(row)">
                <ion-icon color="warning"  name="create"></ion-icon>
              </ion-button>
    
              <ion-button size="small" (click)=openDetailModal(row)>
                <ion-icon color="success" name="eye"></ion-icon>
              </ion-button>
              
              <ion-button size="small" (click)="delete(row)">
                  <ion-icon color="danger" name="trash"></ion-icon>
                </ion-button>
              </ng-template>
        </ngx-datatable-column>
      
      </ngx-datatable>
    </ion-content>