


<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Modification Equipe</ion-title>
        <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-toolbar>
    <ion-grid>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput [owlDateTime]="createDate" [owlDateTimeTrigger]="createDate" placeholder="Date Création: " [(ngModel)]="data.DateCreation">
                  <owl-date-time [pickerType]="'calendar'" #createDate>
                  </owl-date-time>
                </owl-form-field>
          </ion-col>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Nom: " [(ngModel)]="data.NomEquipe" required="true">
              </owl-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <owl-form-field>
              <owl-select [(ngModel)]="data.Utilisateur" [multiple]="true" placeholder="Membre(s)">
                <owl-option *ngFor="let membre of usersData" [value]="membre._id" >
                      {{membre.NomUser}}
                </owl-option>
              </owl-select>
            </owl-form-field>
          </ion-col>
          <ion-col>
              <owl-form-field>
                  <textarea owlInput placeholder="Description: " [(ngModel)]="data.descriptionEquipe">
                  </textarea>
              </owl-form-field>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item lines="none">
        <ion-button slot="end" (click)="update()"> 
          Modifier
        </ion-button>
    </ion-item>
  </ion-card>
  