<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Créer Rapport</ion-title>
      <!-- <ion-back-button color="danger"></ion-back-button> -->
      <!-- <ion-button fill="outLine" slot="end" (click)="closeModal()">X</ion-button> -->
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="ion-padding">
    <!-- <ion-item lines="full"> 
        <ion-label>Intervention : </ion-label>
        <ion-input [(ngModel)]="dataRapport.IdIntervention">
        </ion-input>
    </ion-item>

    <ion-item > 
      <ion-label>Description du Travail : </ion-label>
      <ion-textarea [(ngModel)]="dataRapport.IdIntervention" rows="3" cols="5" wrap="soft" clearInput="true" placeholder="Saisir la description ici">
      </ion-textarea>
    </ion-item>
    
    <ion-item>
        <ion-label>Date Début: </ion-label>
        <ion-datetime [(ngModel)]="dataRapport.DateDebut" displayFormat="DD/MM/YYYY" max="2025-12-31" cancelText="Fermer" mode="md" name="Date de Création" doneText="Choisir" placeholder="Saisir la Date de début du travrail ici">
        </ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Date Fin: </ion-label>
        <ion-datetime [(ngModel)]="dataRapport.DateFin" displayFormat="DD/MM/YYYY" max="2025-12-31" cancelText="Fermer" mode="md" name="Date de Création" doneText="Choisir" placeholder="Saisir la Date de début du travrail ici">
        </ion-datetime>
    </ion-item> -->
     
      <!--
      <ion-button (click)="getPicture()"><ion-icon name="camera"></ion-icon></ion-button>
      <ion-label>Capture du travail final </ion-label>
      <ion-button slot="end" fill="clear">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-item> -->
    <ion-item>
      <!-- <ion-item lines="none"> -->
        <ion-thumbnail slot="start" (click)="showPhoto()">
            <ion-img [src]="imageFinIntervention"></ion-img>
        </ion-thumbnail>
      <ion-card> 
          <ion-card-header color="light"><ion-label>Signature Intervenant</ion-label></ion-card-header>
          <ion-card-content>
            <signature-pad #signatureAgent
            [options]="signaturepadOptions"
            ></signature-pad>
            <ion-button fill="clear" (click)="onClearSignatureAgent()" color="danger" slot="end"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-card-content>
      </ion-card>
      <ion-card> 
          <ion-card-header><ion-label>Signature Client :</ion-label></ion-card-header>
          <ion-card-content>
            <div>
            <signature-pad #signatureClient
              [options]="signaturepadOptions">
            </signature-pad>
            <ion-button (click)="onClearSignatureClient()" fill="clear" slot="end" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
          </div>
          </ion-card-content>
      </ion-card>
    </ion-item>
    
    <ion-item lines="none">
        <ion-button color="danger" > 
          Quitter
        </ion-button>
        <ion-button (click)="submitForm()"> 
          Ajouter
        </ion-button>
    </ion-item>
    </ion-content>
  