<ion-card>
  <ion-toolbar color="tertiary">
      <ion-title>Modification Profil</ion-title>
      <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
        <ion-icon color="light" name="arrow-round-back"></ion-icon>
      </ion-button>
      </ion-toolbar>
  <ion-grid>
      <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput [owlDateTime]="createDate" [owlDateTimeTrigger]="createDate" [(ngModel)]="dataEditProfil.DateCreation" placeholder="Date Création: ">
                  <owl-date-time [pickerType]="'calendar'" #createDate>
                  </owl-date-time>
                </owl-form-field>
          </ion-col>
          <ion-col>

          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Code: " [(ngModel)]="dataEditProfil.codeProfil" required="true">
              </owl-form-field>
          </ion-col>
          <ion-col>
            <owl-form-field>
              <input owlInput placeholder="Intitulé: " [(ngModel)]="dataEditProfil.nomProfil" required="true">
          </owl-form-field>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <owl-form-field>
                <owl-select [(ngModel)]="dataEditProfil.rolesIds" [multiple]="true" placeholder="Rôle(s)">
                  <owl-option *ngFor="let item of roleDataEdit" [value]="item.CodeRole">
                        {{item.IntituleRole}}
                  </owl-option>
                </owl-select>
              </owl-form-field>
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-item lines="none">
    <ion-button slot="end" (click)="updateProfil()"> 
      Modifier
    </ion-button>
  </ion-item>
</ion-card>