<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Liste Pièces</ion-title>
      <ion-fab-button  color="medium" routerLink='/piece-create' slot="end" size="small" [hidden]=roleAddPiece><ion-icon name="add">
      </ion-icon></ion-fab-button>
    </ion-toolbar>
  </ion-header>
  
    <ion-content class="ion-padding">
      <ion-searchbar (keyup)="searchPieceData($event)" placeholder="Rechercher..." animated="true"></ion-searchbar>
      <ngx-datatable
        class="material"
        [rows]="piecesData"
        [rowHeight]="'auto'"
        [limit]="10"
        [footerHeight]="50"
        [sortType]="'multi'"
        [headerHeight]="50"
        [columnMode]="'force'">
        <ngx-datatable-column name="Référence">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.referencePiece}}
              </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Désignation" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.designationPiece}}
              </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Prix Unitaire">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.prixUnitairePiece}}
              </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Quantité">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.quantitePiece}}
              </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prix total">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.prixUnitairePiece*row.quantitePiece}}
              </ng-template>
        </ngx-datatable-column>
    
        <!--- create a column for action detail, delte, update -->
        <ngx-datatable-column name="Actions" [sortable]="true" *ngIf="allRolesPiece">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              
              <ion-button color="medium" size="small" routerLink='/piece-edit/{{row._id}}' [hidden]=roleEditPiece>
                <ion-icon color="warning"  name="create"></ion-icon>
              </ion-button>
    
              <ion-button color="medium" size="small" routerLink='/piece-detail/{{row._id}}' [hidden]=roleDetailPiece>
                <ion-icon color="success" name="eye"></ion-icon>
              </ion-button>
              
              <ion-button color="medium" size="small" (click)="delete(row)" [hidden]=roleDeletePiece>
                  <ion-icon color="danger" name="trash"></ion-icon>
                </ion-button>
              </ng-template>
        </ngx-datatable-column>
      
      </ngx-datatable>
    </ion-content>