  <ion-card>
    <ion-toolbar color="tertiary">
      <ion-title>Détails Diagnostic</ion-title>
      <ion-button slot="start" [routerLink]="['/intervention-edit-test/'+DiagnosticsIntervention.IdIntervention]" fill="clear" > 
        <ion-icon color="light" name="arrow-round-back"></ion-icon>
      </ion-button>
      </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <owl-form-field> 
          <input readonly="true" owlInput [(ngModel)]="demarrage" placeholder="Date/Heure de démarrage: ">
        </owl-form-field>
      </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
        <owl-form-field> 
          <input readonly="true" owlInput [(ngModel)]="DiagnosticsIntervention.DescriptionProbleme" placeholder="Description Problème: ">
        </owl-form-field>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Photos Diagnostic</ion-label>
          <ion-item lines="none">
            <ion-thumbnail slot="start" (click)="showPhoto()" *ngFor="let image of DiagnosticsIntervention.PhotosDiagnostic">
              <ion-img [src]="'data:image/jpeg;base64,'+image"></ion-img>
           </ion-thumbnail>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>
  </ion-card>