

<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Modification Zone</ion-title>
        <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-toolbar>
<ion-grid>
        <ion-row>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Nom: " [(ngModel)]="editZoneData.NomZone" required="true">
                </owl-form-field>
            </ion-col>
        </ion-row>
        <ion-row>
            <!-- <ion-col>
                <owl-form-field>
                  <owl-select [(ngModel)]="editZoneData.Utilisateur" [multiple]="true" placeholder="Membre(s)">
                    <owl-option *ngFor="let membre of usersData" [value]="membre._id" >
                          {{membre.NomUser}}
                    </owl-option>
                  </owl-select>
                </owl-form-field>
              </ion-col> -->
            <ion-col>
                <!-- (selectPanelClose)="searchMembres(editZoneData.EqupipeAffecte)" -->
                <owl-form-field>
                  <owl-select [(ngModel)]="editZoneData.EqupipeAffectee" [multiple]="true" placeholder="Equipe(s) Affectée(s): ">
                    <owl-option *ngFor="let equipe of allEquipes" [value]="equipe._id" >
                          {{equipe.NomEquipe}}
                    </owl-option>
                  </owl-select>
                </owl-form-field>
            </ion-col>
            <ion-col>
            <owl-form-field>
                <owl-select [(ngModel)]="editZoneData.Utilisateur" [multiple]="true" placeholder="Membre(s) Affecté(s): ">
                    <owl-option *ngFor="let agent of membresEquipe" [value]="agent._id" >
                        {{agent.NomUser}}
                    </owl-option>
                </owl-select>
            </owl-form-field>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <textarea owlInput placeholder="Description: " [(ngModel)]="editZoneData.IndicationZone">
                  </textarea>
              </owl-form-field>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item lines="none">
        <ion-button slot="end" (click)="update()"> 
          Modifier
        </ion-button>
    </ion-item>
  </ion-card>