

<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Créer Zone</ion-title>
        <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-toolbar>
    <ion-grid>
        <ion-row>
            <ion-col>
                <owl-form-field>
                    <input owlInput [owlDateTime]="createDate" [owlDateTimeTrigger]="createDate" [(ngModel)]="dataZones.DateCreation" placeholder="Date Création: ">
                    <owl-date-time [pickerType]="'calendar'" #createDate>
                    </owl-date-time>
                  </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Nom: " [(ngModel)]="dataZones.NomZone" required="true">
                </owl-form-field>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <owl-form-field>
                  <owl-select (selectPanelClose)="searchMembres(dataZones.EqupipeAffectee)" [(ngModel)]="dataZones.EqupipeAffectee" [multiple]="true" placeholder="Equipe(s)">
                    <owl-option *ngFor="let equipe of equipeData" [value]="equipe._id" >
                          {{equipe.NomEquipe}}
                    </owl-option>
                  </owl-select>
                </owl-form-field>
            </ion-col>
            <ion-col>
            <owl-form-field>
                <owl-select  [(ngModel)]="dataZones.Utilisateur" [multiple]="true" placeholder="Membre(s)">
                    <owl-option *ngFor="let membre of usersData" [value]="membre._id" >
                        {{membre.NomUser}}
                    </owl-option>
                </owl-select>
            </owl-form-field>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <textarea owlInput placeholder="Description: " [(ngModel)]="dataZones.IndicationZone">
                  </textarea>
              </owl-form-field>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item lines="none">
        <ion-button slot="end" (click)="submitForm()"> 
          Ajouter
        </ion-button>
</ion-item>
  </ion-card>