<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Détails Devis</ion-title>
      <ion-button slot="start" [routerLink]="['/intervention-edit-test/'+DevisData.IdIntervention]" fill="clear" > 
        <ion-icon color="light" name="arrow-round-back"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col>
        <owl-form-field *ngIf="DevisData.IdPieces"> 
          <input readonly="true" owlInput [(ngModel)]="DevisData.IdPieces.designationPiece" placeholder="Designation pièce:"> 
        </owl-form-field>
      </ion-col>
      <ion-col>
        <owl-form-field *ngIf="DevisData.IdPieces"> 
          <input readonly="true" owlInput [(ngModel)]="DevisData.IdPieces.prixUnitairePiece" placeholder="Prix Unitaire: ">
        </owl-form-field>
       
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <owl-form-field> 
            <input readonly="true" owlInput [(ngModel)]="DevisData.Quantite" placeholder="Quantité: ">
          </owl-form-field>
        </ion-col>
        <ion-col>
          <owl-form-field *ngIf="DevisData.IdPieces"> 
            <input readonly="true" owlInput [(ngModel)]="DevisData.IdPieces.referencePiece" placeholder="Référeence piece:"> 
          </owl-form-field>
        </ion-col>
      </ion-row>
  </ion-card>

</ion-content>
