
    <ion-card class="ion-padding">
      <ion-card-header color="tertiary" full>
          <ion-title>Dévis</ion-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item > 
          <ion-label>Id Intervention: </ion-label>
          <ion-input [(ngModel)]="devisData.IdIntervention" required="true" clearInput="true" placeholder="Saisir la désignation ici">
          </ion-input>
        </ion-item>
        <ion-item > 
            <ion-label>Désignation: </ion-label>
            <ion-input [(ngModel)]="devisData.Designation" required="true" clearInput="true" placeholder="Saisir la désignation ici">
            </ion-input>
          </ion-item>
          <ion-item > 
            <ion-label>Quantité : </ion-label>
            <ion-input required="true" [(ngModel)]="devisData.Quantite" clearInput="true" placeholder="Saisir la quantité ici">
            </ion-input>
          </ion-item>
          <ion-item > 
            <ion-label>Prix Unitaire : </ion-label>
            <ion-input required="true" [(ngModel)]="devisData.PrixUnitaire" clearInput="true" placeholder="Saisir le Prix Unitaire ici">
            </ion-input>
            </ion-item>
            <ion-item > 
              <ion-label>Main d'oeuvre : </ion-label>
              <ion-input required="true" [(ngModel)]="devisData.MainDoeuvre" clearInput="true" placeholder="Saisir la main d'oeuvre ici">
              </ion-input>
            </ion-item>
      
          <ion-item lines="none">
            <ion-button slot="end" color="danger"> 
                <ion-icon name="refresh"></ion-icon>Actualiser
            </ion-button>
            <ion-button (click)="submitForm()" slot="end"> 
                Ajouter
            </ion-button>
          </ion-item>
        </ion-card-content>
<div class="ion-padding">
   <ngx-datatable
      class="material"
      [rows]="dataDevis"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [columns]="columns"
      [limit]="5"
       >

      <ngx-datatable-column name="Id Intervention">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.IdIntervention}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Désignation">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.Designation}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Qté">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.Quantite}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="P.U" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.PrixUnitaire}}
            </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Prix total" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.PrixUnitaire*row.Quantite}}
            </ng-template>
      </ngx-datatable-column>
  
      <!-- create a column for action detail, delte, update -->
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>        
            <ion-button size="small" (click)="delete(row)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  </ion-card>