<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Liste des équipes</ion-title>
    <ion-fab-button (click)="openAddModal()" slot="end" size="small"><ion-icon name="add">
    </ion-icon></ion-fab-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">ù
  <ion-searchbar placeholder="Rechercher..." animated="true"></ion-searchbar>
 <ngx-datatable
 [rowHeight]="'auto'"
 [sortType]="'multi'"
 [headerHeight]="50"
 [footerHeight]="50"
 [rows]="dataEquipe"
 [columns]="columns"
 [columnMode]="'force'"
 [limit]="5"
 class="material">
    
    <ngx-datatable-column name="Nom Equipe">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.NomEquipe}}
          </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Description">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.descriptionEquipe}}
          </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Date Création" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.DateCreation.split("T")[0].split("-").reverse().join("/")}}
          </ng-template>
    </ngx-datatable-column>

    <!--- create a column for action detail, delte, update -->
    <ngx-datatable-column name="Actions">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          
          <ion-button size="small" (click)="openEditModal(row)">
            <ion-icon color="warning"  name="create"></ion-icon>
          </ion-button>

          <ion-button  size="small" (click)=openDetailModal(row)>
            <ion-icon color="success" name="eye"></ion-icon>
          </ion-button>
          
          <ion-button size="small" (click)="delete(row)">
              <ion-icon color="danger" name="trash"></ion-icon>
            </ion-button>
          </ng-template>
    </ngx-datatable-column>
	
	</ngx-datatable> 
</ion-content>