<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Modification Pièce</ion-title>
        <ion-button slot="start" [routerLink]="['/piece-list']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-toolbar>
    <ion-grid><ion-row>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Référence: " [(ngModel)]="dataPieceToEdit.referencePiece" required="true">
                </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Désignation: " [(ngModel)]="dataPieceToEdit.designationPiece" required="true">
                </owl-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <owl-form-field>
                      <input type="number" owlInput placeholder="Prix Unitaire: " [(ngModel)]="dataPieceToEdit.prixUnitairePiece" required="true">
                  </owl-form-field>
              </ion-col>
              <ion-col>
                  <owl-form-field>
                      <input type="number" owlInput placeholder="Quantité: " [(ngModel)]="dataPieceToEdit.quantitePiece" required="true">
                  </owl-form-field>
              </ion-col>
            </ion-row>
    </ion-grid>
    <ion-item lines="none">
        <ion-button slot="end" (click)="updatePieceData()" [routerLink]="['/piece-list']"> 
          Modifier
        </ion-button>
      </ion-item>
</ion-card>