


<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Detail Equipe</ion-title>
        <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-toolbar>
    <ion-grid>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput [owlDateTime]="createDate" [owlDateTimeTrigger]="createDate" placeholder="Date Création: " [(ngModel)]="equipeDetail.DateCreation">
                  <owl-date-time [pickerType]="'calendar'" #createDate>
                  </owl-date-time>
                </owl-form-field>
          </ion-col>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Nom: " [(ngModel)]="equipeDetail.NomEquipe" required="true">
              </owl-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <owl-form-field>
                  <owl-select [(ngModel)]="equipeDetail.Utilisateur" [multiple]="true" placeholder="Membre(s)">
                    <owl-option *ngFor="let membre of dataUsers" [value]="membre._id">
                          {{membre.NomUser}}
                    </owl-option>
                  </owl-select>
                </owl-form-field>
              </ion-col>
          <ion-col>
              <owl-form-field>
                  <textarea owlInput placeholder="Description: " [(ngModel)]="equipeDetail.descriptionEquipe">
                  </textarea>
              </owl-form-field>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>