<ion-header>
  <ion-toolbar>
    <ion-title>devis-edit</ion-title>
    <ion-item slot="end">
      <ion-avatar>
        <img src="/assets/userConnect.png">
      </ion-avatar>

      <!-- <ion-label>{{userConnectData.NomUser}}</ion-label> -->
    </ion-item>
    <ion-label #roleId ></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
