<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Modification Intervention</ion-title>
    <ion-button [routerLink]="['/intervention-list']" slot="start" fill="clear"><ion-icon color="light" name="arrow-round-back"></ion-icon></ion-button>
    <!-- <ion-button fill="clear" slot="end"  [routerLink]="['/intervention-detail/data._id']"color="light" ><ion-icon name="eye"></ion-icon>Voir</ion-button> -->
  </ion-toolbar>
</ion-header>
 
<div class="ion-padding">
  <ion-segment [(ngModel)]="EditIntervention">

    <ion-segment-button value="EditDetail" checked="true">
     Detail
    </ion-segment-button>

    <ion-segment-button value="EditDiagnostic"  >
      Diagnostic
    </ion-segment-button>

    <ion-segment-button value="EditDevisPage" >
        Dévis
    </ion-segment-button>
    <ion-segment-button value="EditRapport" >
      Rapport
    </ion-segment-button>

  </ion-segment>
</div>

<ion-content class="ion-padding" [ngSwitch]="EditIntervention">
<!-- Ajouter info intervention -->
<ion-card *ngSwitchCase="'EditDetail'">
  <ion-card-header color="tertiary">
    <ion-card-title>
      Détail
    </ion-card-title>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <owl-form-field>
            <input owlInput placeholder="Ordre d'Intervention: " size="auto" clearInput="true" [(ngModel)]="dataEditIntervention.OrdreIntervention" required="true">
        </owl-form-field>
      </ion-col>
      <ion-col>
        <owl-form-field>
            <owl-select [(ngModel)]="dataEditIntervention.typeIntervention"  placeholder="type intervention" required="true">
            <owl-option [value]="'entretien'">entretien</owl-option>
            <owl-option [value]="'préventif'">préventif</owl-option>
            <owl-option [value]="'depannage'">depannage</owl-option>
            <owl-option [value]="'Deplacement'">Deplacement d'equipement </owl-option>
          </owl-select>
      </owl-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <owl-form-field>
        <input owlInput placeholder="Période du:" [owlDateTimeTrigger]="selectDateDebut" [owlDateTime]="selectDateDebut" [(ngModel)]="dataEditIntervention.DateDebutIntervention" >
        <owl-date-time #selectDateDebut></owl-date-time>
        </owl-form-field>
    </ion-col>
    <ion-col>
      <owl-form-field>
        <input  owlInput placeholder="Au:" [owlDateTimeTrigger]="selectDateFin" [owlDateTime]="selectDateFin" [(ngModel)]="dataEditIntervention.DateFinIntervention" >
        <owl-date-time #selectDateFin></owl-date-time>
      </owl-form-field>
    </ion-col>
   </ion-row>
   <ion-row>
      <ion-col>
        <owl-form-field>
          <input placeholder="Frais de deplacement: " owlInput type="number" [(ngModel)]="dataEditIntervention.FraisDeplacement">
        </owl-form-field>
       </ion-col>
      <ion-col>
        <owl-form-field>
          <input owlInput placeholder="Objet Intervention: " [(ngModel)]="dataEditIntervention.ObjetIntervention">
        </owl-form-field>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <owl-form-field>
          <input  owlInput placeholder="Nom du Client: " size="auto" clearInput="true" [(ngModel)]="dataEditIntervention.Client">
        </owl-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <owl-form-field>
          <input owlInput placeholder="Lieu d'intervention: " size="auto" clearInput="true" [(ngModel)]="dataEditIntervention.LieuIntervention">
        </owl-form-field>
      </ion-col>
      <ion-col>
          <owl-form-field>
          <input owlInput placeholder="Adresses: email, tel, cel,..." size="auto" clearInput="true"  [(ngModel)]="dataEditIntervention.Adresses">
        </owl-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <owl-form-field > 
            <textarea owlInput [(ngModel)]="dataEditIntervention.DescriptionIntervention" placeholder="Description: ">
            </textarea>
          </owl-form-field>
      </ion-col>
    </ion-row>
<ion-row>
    <ion-col>
      <owl-form-field>
          <owl-select  [(ngModel)]="dataEditIntervention.ZoneAffectee" placeholder="Zone :" (selectPanelClose)="getZoneEquipes(dataEditIntervention.ZoneAffectee)">
          <owl-option *ngFor="let zone of dataEditZone" [value]="zone._id" >{{zone.NomZone}}</owl-option>
          </owl-select>
        </owl-form-field>
    </ion-col>
    <ion-col>
      <owl-form-field>
          <owl-select multiple="true"  [(ngModel)]="dataEditIntervention.EquipeAffectee" placeholder="Equipe(s)Affectée(s) :" (selectPanelClose)="getAgentsEquipe(dataEditIntervention.EquipeAffectee)">
              <owl-option *ngFor="let equipe of dataEditEquipe" [value]="equipe._id">{{equipe.NomEquipe}}</owl-option>
          </owl-select>
        </owl-form-field>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <owl-form-field>
          <owl-select multiple="true" [(ngModel)]="dataEditIntervention.AgentAffectes" placeholder="Agent(s) Affecté(s):">
          <owl-option *ngFor="let user of dataUser" [value]="user._id">{{user.NomUser}}</owl-option>
          </owl-select>
        </owl-form-field> 
      </ion-col>
      <ion-col>
      <owl-form-field>
        <owl-select multiple="true"  [(ngModel)]="dataEditIntervention.AutreAgents" placeholder=" autres agents:">
        <owl-option *ngFor="let user1 of editOtherUser" [value]="user1._id">{{user1.NomUser}}</owl-option>
        </owl-select>
      </owl-form-field> 
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-item>
      <ion-button color="success" slot="end"> 
          Demarrer
      </ion-button>
    <ion-button slot="end" (click)="updateIntervention()"> 
        Modifier
    </ion-button>
  </ion-item>
</ion-card>

<!---ajouter le diagnostic -->
<ion-card *ngSwitchCase="'EditDiagnostic'">
  <ion-card-header color="tertiary" full>
    <ion-title>Créer Diagnostic</ion-title>
  </ion-card-header>
  <ion-row>
    <ion-col>
      </ion-col>
    <ion-col>
      <owl-form-field>
          <input owlInput readonly placeholder="Ordre d'intervention:" size="auto" clearInput="true" [(ngModel)]="dataEditIntervention.OrdreIntervention">
     </owl-form-field>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <owl-form-field>
        <textarea placeholder="Descrption du probleme :"  owlInput [(ngModel)]="dataDiagnostique.DescriptionProbleme" maxLength="500" placeholder="Description: ">
        </textarea>
      </owl-form-field>
    </ion-col>
    <ion-col>
      <owl-form-field>
        <textarea placeholder="Adresse ip:"  owlInput  maxLength="500" placeholder="ip adresse">
          {{geoData.ip}}
        </textarea>
      </owl-form-field>
    </ion-col>
    <ion-row>
      <ion-col>
        <owl-form-field>
          <textarea placeholder="longitude"  owlInput  maxLength="500" placeholder="longitude">
            {{geoData.longitude}}
          </textarea>
        </owl-form-field>
      </ion-col>
      <ion-col>
        <owl-form-field>
          <textarea placeholder="latitude"  owlInput  maxLength="500" placeholder="latitude">
            {{geoData.latitude}}
          </textarea>
        </owl-form-field>
      </ion-col>
    </ion-row>
  </ion-row>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
          <ion-img size="400px"></ion-img>
      </ion-thumbnail>
      <ion-button><ion-icon name="camera"></ion-icon></ion-button>
      <ion-label>prendre photo </ion-label>
    </ion-item>
  <ion-item lines="none">
    <ion-button slot="end" (click)="updateDiagnostic()"> 
          Ajouter
    </ion-button>
    <!-- <ion-button (click)="generateDiagnostic()">generer pdf</ion-button>
    <ion-button (click)="voirPDFdiagnostic()">voir pdf</ion-button>  -->
  </ion-item>
<div>
<ngx-datatable
class="material"
[rows]="dataDiagnosticDisplay"
[rowHeight]="'auto'"
[headerHeight]="50"
[columnMode]="'force'"
[sortType]="'multi'"
[headerHeight]="50"
[footerHeight]="50"
[limit]="3" >

<ngx-datatable-column name="Description du probleme">
    <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.DescriptionProbleme}}
      </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Photo">
    <ng-template let-row="row" ngx-datatable-cell-template>      
      </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="fchiers joints ">
    <ng-template let-row="row" ngx-datatable-cell-template>     
      </ng-template>
</ngx-datatable-column>
<!-- create a column for action detail, delte, update -->
<ngx-datatable-column name="Actions">
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>        
      <ion-button size="small" (click)="delete(row)">
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-button>
        <ion-button color="primary" size="small" >
            <ion-icon  name="send"></ion-icon>
        </ion-button>
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>
  </div>
</ion-card>

<!-- Ajouter le devis de l'Intervention -->
<ion-card *ngSwitchCase="'EditDevisPage'">
  <ion-card-header color="tertiary" full>
      <ion-title>Créer Dévis</ion-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
      <owl-form-field>
          <input owlInput readonly placeholder="Ordre d'intervention:" size="auto" clearInput="true" [(ngModel)]="dataEditIntervention.OrdreIntervention">
     </owl-form-field>
      </ion-col>
        <ion-col>
        <owl-form-field>
            <input owlInput type="number" placeholder="Main d'Oeuvre:" >
      </owl-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <owl-form-field>
        <owl-select  [(ngModel)]="devisData.IdPieces" placeholder="Pièce :">
        <owl-option *ngFor="let piece of pieceData" [value]="piece._id" (selectionChange)="getPieceDetail(piece._id)">{{piece.designationPiece}}</owl-option>
        </owl-select>
      </owl-form-field>
    </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <owl-form-field>
                <input owlInput readonly  placeholder="Référence:" [(ngModel)]="dataPiece.referencePiece">
           </owl-form-field>
          </ion-col>
          <ion-col>
              <owl-form-field>
                  <input owlInput readonly type="number" placeholder="Prix Unitaire:" [(ngModel)]="dataPiece.prixUnitairePiece">
             </owl-form-field>
            </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <owl-form-field>
                <input owlInput type="number" placeholder="Quantité:" [(ngModel)]="devisData.Quantite" min="1" max="20">
           </owl-form-field>
          </ion-col>
          <ion-col>
          </ion-col>
    </ion-row>
      <ion-item lines="none">
        <ion-button (click)="updateDevis()" slot="end"> 
            Ajouter
        </ion-button>
        <ion-button (click)="generateDevis()"> generer pdf</ion-button>
         <ion-button (click)="voirPDFdevis()">voir pdf</ion-button> 
      </ion-item>
    </ion-grid>
    </ion-card-content>
    <div>
        <ngx-datatable
           class="material"
           [rows]="dataDevis"
           [rowHeight]="'auto'"
           [headerHeight]="50"
           [columnMode]="'force'"
           [sortType]="'multi'"
           [headerHeight]="50"
           [footerHeight]="50"
           [limit]="5"
            >
           <ngx-datatable-column name="Piece" [sortable]="true">
             <ng-template let-row="row" ngx-datatable-cell-template>
                 {{row.IdPieces.designationPiece}}
               </ng-template>
         </ngx-datatable-column>
           <ngx-datatable-column name="Qté">
               <ng-template let-row="row" ngx-datatable-cell-template>
                   {{row.Quantite}}
                 </ng-template>
           </ngx-datatable-column>
       
           <!-- create a column for action detail, delte, update -->
           <ngx-datatable-column name="Actions">
             <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>        
                 <ion-button size="small" (click)="confirmDeletedDevis(row)">
                     <ion-icon color="danger" name="trash"></ion-icon>
                   </ion-button>
             </ng-template>
           </ngx-datatable-column>
         </ngx-datatable>
       </div>
</ion-card>
  <!-- Add Rapport of Intervention -->
  <ion-card *ngSwitchCase="'EditRapport'">

      <ion-card-header color="tertiary">
              <ion-title>Créer Rapport</ion-title>
      </ion-card-header>
     <ion-card-content>
     <ion-grid>
       <ion-row>
       <ion-col>
        <owl-form-field>
            <input owlInput placeholder="Ordre Intervention :" [(ngModel)]="dataEditIntervention.OrdreIntervention">
       </owl-form-field>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
   <ion-row>
    <ion-col>
    <owl-form-field>
        <input owlInput placeholder="Date Début: " [owlDateTimeTrigger]="selectDateDebut" [owlDateTime]="selectDateDebut" [(ngModel)]="rapportData.DateDebut" >
        <owl-date-time #selectDateDebut></owl-date-time>
    </owl-form-field>
  </ion-col>
  <ion-col>
      <owl-form-field>
          <input owlInput placeholder="Date Fin: " [owlDateTimeTrigger]="selectDateFin" [owlDateTime]="selectDateFin" [(ngModel)]="rapportData.DateFin" >
          <owl-date-time #selectDateFin></owl-date-time>
      </owl-form-field>
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
  <owl-form-field > 
      <textarea owlInput [(ngModel)]="rapportData.DescriptionTravail" placeholder="Description du travail final: ">
      </textarea>
    </owl-form-field>
  </ion-col>
  <ion-col>
    <ion-item lines="none">
      <ion-thumbnail slot="start" (click)="showPhoto()" *ngFor="let img of rapportData.Photos">
          <ion-img [src]="rapportImage+img"></ion-img>
      </ion-thumbnail>
      <ion-button (click)="getRapportPicture()"><ion-icon name="camera"></ion-icon></ion-button>
      <ion-label>Prendre photo </ion-label>
    </ion-item>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <owl-form-field>
          <owl-select [(ngModel)]="dataEditIntervention.statut"  placeholder="Statut" required="true">
            <owl-option [value]="'Planifiée'">Planifiée</owl-option>
            <owl-option [value]="'En cours'">En cours</owl-option>
            <owl-option [value]="'Terminée'">Terminée</owl-option>
            <owl-option [value]="'Suspendue'">Suspendue</owl-option>
            <owl-option [value]="'Annulée'">Annulée</owl-option> 
          </owl-select>
        </owl-form-field>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card> 
            <ion-toolbar color="light"><ion-title>Signature Intervenant:</ion-title>
              <ion-button fill="clear" (click)="onClearSignatureAgent()" color="danger" slot="end"><ion-icon name="trash"></ion-icon></ion-button>
            </ion-toolbar>
            <ion-card-content>
              <signature-pad #agentSignature [options]="Options"></signature-pad>
            </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card> 
            <ion-toolbar color="light"><ion-title>Signature Client:</ion-title>
              <ion-button (click)="onClearSignatureClient()" fill="clear" slot="end" color="danger"><ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-toolbar>
            <ion-card-content>
              <signature-pad #clientSignature
                [options]="Options">
              </signature-pad>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-item lines="none">
        <ion-button  (click)="submitFormRapport()" slot="end" > 
            Ajouter
        </ion-button>
        <ion-button (click)="genereRapport()">Rapport final</ion-button>
    </ion-item>
  </ion-card-content>
  <div>
    <ngx-datatable
         class="material"
         [rows]="raportData"
         [rowHeight]="'auto'"
         [headerHeight]="50"
         [columnMode]="'force'"
         [sortType]="'multi'"
         [headerHeight]="50"
         [footerHeight]="50"
         [limit]="5"
          >
         <ngx-datatable-column name="Date Début" [sortable]="true">
           <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.DateDebut}}
             </ng-template>
       </ngx-datatable-column>
      <ngx-datatable-column name="Date Fin">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DateFin}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Desc. Travail Final">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DescriptionTravail}}
            </ng-template>
      </ngx-datatable-column>
     
         <!-- create a column for action detail, delte, update -->
         <ngx-datatable-column name="Actions">
           <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>        
              <ion-button size="small">
                  <ion-icon color="success" name="eye"></ion-icon>
                </ion-button>
              <ion-button size="small" (click)="delete(row)">
                  <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
           </ng-template>
         </ngx-datatable-column>
       </ngx-datatable>
     </div>
</ion-card>
</ion-content>
