  <ion-card>
    <ion-toolbar color="tertiary">
      <ion-title>Détail Rapport</ion-title>
      <ion-button slot="start" [routerLink]="['/intervention-edit-test/'+dataRaport.IdIntervention]" fill="clear" > 
        <ion-icon color="light" name="arrow-round-back"></ion-icon>
      </ion-button>
      </ion-toolbar>
  <ion-grid>
    <!-- <ion-row> -->
        <!-- <ion-col>
          <owl-form-field> 
            <input readonly="true" owlInput [(ngModel)]="dateFormatdebut" placeholder="Date debut: ">
          </owl-form-field>
        </ion-col> -->
        <!-- <ion-col>
          <owl-form-field > 
            <input readonly="true" owlInput [(ngModel)]="dateFormatFin" placeholder="Date Création : ">
          </owl-form-field>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <owl-form-field> 
            <input readonly="true" owlInput [(ngModel)]="dataRaport.DescriptionTravail" placeholder="description du travail:"> 
          </owl-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Photos du rapport</ion-label>
          <ion-item lines="none">
            <ion-thumbnail slot="start" (click)="showPhoto()" *ngFor="let image of dataRaport.Photos">
              <ion-img [src]="'data:image/jpeg;base64,'+image"></ion-img>
           </ion-thumbnail>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-card>
