
<ion-card>
    <ion-toolbar color="medium">
        <ion-title>Modification Utilisateur</ion-title>
        <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <ion-grid>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Nom Utilisateur: " [(ngModel)]="editData.NomUser" required="true">
              </owl-form-field>
          </ion-col>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Contact(s): " [(ngModel)]="editData.ContactUser" required="true">
              </owl-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Email: " [(ngModel)]="editData.MailUser" required="true">
                </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Pseudo: " [(ngModel)]="editData.PseudoUser" required="true">
                </owl-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <owl-form-field>
                  <input type="password" owlInput placeholder="Mot de passe: " [(ngModel)]="editData.MotDePasse" required="true">
              </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                  <owl-select [(ngModel)]="editData.IdProfil" placeholder="Profil">
                      <owl-option>
                          Aucun
                        </owl-option>
                    <owl-option *ngFor="let x of UserEditprofilData" [value]="x._id">
                      {{x.nomProfil}}
                    </owl-option>
                  </owl-select>
                </owl-form-field>
            </ion-col>
          </ion-row>
    </ion-grid>
    <ion-item lines="none">
        <ion-button slot="end" (click)="update()" color="success" size="small">
           Modifier
        </ion-button>
    </ion-item>
</ion-card>