<ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Liste des Interventions</ion-title>
      <ion-fab-button color="medium" [routerLink]="['/intervention-create']" slot="end" size="small" [hidden]=isRoleAddIntervention><ion-icon name="add">
        </ion-icon></ion-fab-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <owl-form-field>
          <input [(ngModel)]="startDate" owlInput   placeholder="Période du: " [owlDateTimeTrigger]="selectStartDate" [owlDateTime]="selectStartDate">
          <owl-date-time (afterPickerClosed)="getPeriodData()"  #selectStartDate></owl-date-time>
        </owl-form-field>
      </ion-col>
      <ion-col>
          <owl-form-field>
            <input owlInput [(ngModel)]="endDate" placeholder="Au: " [owlDateTimeTrigger]="selectEndDate" [owlDateTime]="selectEndDate">
            <owl-date-time (afterPickerClosed)="getPeriodData()"  #selectEndDate></owl-date-time>
          </owl-form-field>
        </ion-col> 
        <ion-button color="transparent" (click)="refresh()">
          <ion-icon color="secondary" name="refresh"></ion-icon>
        </ion-button>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-searchbar (keyup)="searchData($event)" placeholder="Rechercher..." animated="true"></ion-searchbar>
      </ion-col>
        <ion-col>
        <owl-form-field>
          <owl-select multiple="true" placeholder="Filtrer par:">
          <owl-option (selectionChange)="onFilterSelectChange($event.selected,$event.source.viewText)"><ion-icon color="medium" value="encours" name="options"></ion-icon> En cours</owl-option>
          <owl-option (selectionChange)="onFilterSelectChange($event.selected,$event.source.viewText)"><ion-icon name="clock" value="planifiee" color="primary"></ion-icon> Planifiée</owl-option>
          <owl-option (selectionChange)="onFilterSelectChange($event.selected,$event.source.viewText)" ><ion-icon name="checkmark-circle" value="terminee" color="success"></ion-icon> Terminée</owl-option>
          <owl-option (selectionChange)="onFilterSelectChange($event.selected,$event.source.viewText)"><ion-icon color="warning" value="Suspendue" name="power"></ion-icon> Suspendue</owl-option>
          <!-- <owl-option (selectionChange)="onFilterSelectChange($event.selected,$event.source.viewText)"><ion-icon color="danger" value="annulee" name="trash"></ion-icon> Annulée</owl-option>-->
          </owl-select>
        </owl-form-field>
        <!-- <ion-label>Filtrer par statut </ion-label>
        <ion-select placeholder="choisir statut">
          <ion-select-option value="Planifiee">Planifiée</ion-select-option>
          <ion-select-option value="EnCours">En cours</ion-select-option>
          <ion-select-option value="Suspendue">Suspendue</ion-select-option>
          <ion-select-option value="Terminee">Terminée</ion-select-option>
        </ion-select> -->
      </ion-col>
    </ion-row>
  </ion-grid>
   <ngx-datatable
      class="material"
      [rows]="dataInterventions"
      [rowHeight]="'auto'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [columnMode]="'force'"
      [limit]="7">
      
      <!-- <ngx-datatable-column name="Ordre">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.OrdreIntervention}}
            </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Type d'Intervention" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.typeIntervention}}
          </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Objet Intervention" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.ObjetIntervention}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Lieu Intervention" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.LieuIntervention}}
        </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column name="Client" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Client}}
        </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="Date Début">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.DateDebutIntervention.split("T")[0].split("-").reverse().join("/")}}
          </ng-template>
    </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Date Fin" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DateFinIntervention}}
            </ng-template>
      </ngx-datatable-column> -->
      
      <!-- <ngx-datatable-column name="Statut" [sortable]="true">
          <ng-template *ngIf= "dataInterventions.statut=='current'" let-row="row" ngx-datatable-cell-template>
              {{row.statut}}
            </ng-template>
      </ngx-datatable-column> -->
  
      <!--- create a column for action detail, delte, update -->
      <ngx-datatable-column name="Actions" *ngIf="isAllRolesIntervention">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              
              <ion-button color="medium" size="small" routerLink='/intervention-edit-test/{{row._id}}' [hidden]=isRoleEditIntervention>
                <ion-icon fill="outLine" color="warning" name="create"></ion-icon>
              </ion-button>
    
              <ion-button color="medium" size="small" routerLink='/intervention-detail/{{row._id}}' [hidden]=isRoleDetailIntervention>
                <ion-icon color="success" name="eye"></ion-icon>
              </ion-button>
              
              <ion-button color="medium" size="small" (click)="delete(row)" [hidden]=isRoleDeleteIntervention>
                  <ion-icon color="danger" name="trash"></ion-icon>
                </ion-button>
              </ng-template>
        </ngx-datatable-column>
    </ngx-datatable> 
    
  </ion-content>