<ion-app color="transparent">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" color="danger">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title><ion-icon only name="construct" color="medium"></ion-icon>eDEPANNAGE</ion-title> -->
          <ion-title> <img width="160px" src="assets/edepannage.png" alt=""></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-footer>
          eDepannage v1.0
      </ion-footer>
      <ion-content>
        <ion-list >
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="medium"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
