<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Détail Zone</ion-title>
        <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <ion-grid>
        <ion-row>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Nom: " [(ngModel)]="detailZone.NomZone" required="true">
                </owl-form-field>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <owl-form-field>
                  <owl-select [(ngModel)]="detailZone.EqupipeAffectee" [multiple]="true" placeholder="Equipe(s) Affectée(s): ">
                    <owl-option *ngFor="let x of dataEquipe" [value]="x._id" >
                          {{x.NomEquipe}}
                    </owl-option>
                  </owl-select>
                </owl-form-field>
            </ion-col>
            <ion-col>
            <owl-form-field>
                <owl-select [(ngModel)]="detailZone.Utilisateur" [multiple]="true" placeholder="Membre(s) Affecté(s): ">
                    <owl-option *ngFor="let agent of membreEquipe" [value]="agent._id" >
                        {{agent.NomUser}}
                    </owl-option>
                </owl-select>
            </owl-form-field>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <textarea owlInput placeholder="Description: " [(ngModel)]="detailZone.IndicationZone">
                  </textarea>
              </owl-form-field>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>