<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rapport Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 *ngIf="images.lengh==0" text-center>Veuillez sélectionner une image SVP</h3>
  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" text-wrap>
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        {{img.name}}
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="startUpload(img)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
     <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
       <ion-icon slot="icon-only" name="trash"></ion-icon>
     </ion-button> 
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Select Image
      </ion-button>
    </ion-toolbar>
  </ion-footer>
  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list> -->
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
