<!-- <ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header> -->

  <!-- <ion-card color="transparent">
    <ion-card-header  color="transparent">
      <!- <ion-item lines="none" color="transparent" center>
          <ion-icon size="200" name="person"></ion-icon> -->
      <!-- </ion-item>
      <p>Authentification</p> ->
      <ion-title >Authentification</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
          <ion-label position="floating">Nom Utilisateur</ion-label>
          <ion-input #InputAuth required="true" [(ngModel)]="userAuthData.NomUser" autofocus="true">
          </ion-input>
      </ion-item>
      <ion-item style="display: inline;">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input [(ngModel)]="userAuthData.MotDePasse" type="password"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!authOK">
          <ion-text color="danger">Nom Utilisateur ou Mot de passe incorrect</ion-text>
      </ion-item>
      <ion-item lines="none">
          <ion-button slot="end" (click)="confirmUser()">
              connexion
          </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
  <ion-list text-center>
      <ion-avatar style="margin: auto;" >
        <img src="assets/userConnect.png">
      </ion-avatar>
      <ion-label>{{userConnectName}}</ion-label>
      <br>
      <ion-item lines="none" button="true" (click)="callUserProfilPage()"><ion-label>Mon Compte</ion-label></ion-item>
      <ion-item button="true" lines="none" (click)="signOut()"><ion-label>Se déconnecter</ion-label></ion-item>
  </ion-list>