
<ion-card>
        <ion-toolbar color="tertiary">
            <ion-title>Détail Pièce</ion-title>
            <ion-button slot="start" [routerLink]="['/piece-list']" fill="clear" > 
              <ion-icon color="light" name="arrow-round-back"></ion-icon>
            </ion-button>
            </ion-toolbar>
        <ion-grid><ion-row>
                <ion-col>
                    <owl-form-field>
                        <input owlInput placeholder="Référence: " [(ngModel)]="dataDetailPiece.referencePiece" required="true">
                    </owl-form-field>
                </ion-col>
                <ion-col>
                    <owl-form-field>
                        <input owlInput placeholder="Désignation: " [(ngModel)]="dataDetailPiece.designationPiece" required="true">
                    </owl-form-field>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <owl-form-field>
                          <input type="number" owlInput placeholder="Prix Unitaire: " [(ngModel)]="dataDetailPiece.prixUnitairePiece" required="true">
                      </owl-form-field>
                  </ion-col>
                  <ion-col>
                      <owl-form-field>
                          <input type="number" owlInput placeholder="Quantité: " [(ngModel)]="dataDetailPiece.quantitePiece" required="true">
                      </owl-form-field>
                  </ion-col>
                </ion-row>
        </ion-grid>
 </ion-card>
  