<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>liste des profils </ion-title>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-fab-button slot="end" size="small"><ion-icon name="add" [routerLink]="'/profil-create'"></ion-icon>
      </ion-fab-button>
    </ion-toolbar>
  </ion-header>
  
    <ion-content class="ion-padding"> 
      <ngx-datatable

      [rowHeight]="'auto'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rows]="ProfilData"
      [columns]="columns"
      [columnMode]="'force'"
      [limit]="3"
      [ngClass]="tableStyle"

        >
        
        <ngx-datatable-column name="nom du profil">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.NomProfil}}
              </ng-template>
        </ngx-datatable-column>
        <!--- create a column for action detail, delte, update -->
        <ngx-datatable-column name="Actions" [sortable]="true">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              
              <ion-button size="small"  [routerLink]="'/profil-edit'">
                <ion-icon color="warning"  name="create"></ion-icon>
              </ion-button>
    
              <ion-button size="small" [routerLink]="'/profil-detail'" >
                <ion-icon color="success"   name="eye"></ion-icon>
              </ion-button>
              
              <ion-button size="small" (click)="delete(row)">
                  <ion-icon color="danger" name="trash"></ion-icon>
                </ion-button>
              </ng-template>
        </ngx-datatable-column>
      
      </ngx-datatable>
    </ion-content>