<ion-header>
  <ion-toolbar>
    <ion-title>TABLEAU DE BORD </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
        <ion-card color="primary">
            <ion-card-header><ion-card-title>nombre utilisateur par profil </ion-card-title></ion-card-header>
            <ion-card-content> 10 </ion-card-content>
            <ion-text><a href="#"> voir detail </a></ion-text>
          </ion-card>
          <ion-card color="primary">
              <ion-card-header><ion-card-title>Nombre equipe</ion-card-title></ion-card-header>
              <ion-card-content> 8 </ion-card-content>
              <ion-text><a href="#"> voir detail </a></ion-text>
            </ion-card>
            <ion-card color="primary">
                <ion-card-header><ion-card-title>nombre zone</ion-card-title></ion-card-header>
                <ion-card-content> 5</ion-card-content>
                <ion-text><a href="#"> voir detail </a></ion-text>
              </ion-card>
    </ion-col>
    <ion-col size =6  id="listeintervention" >
        <ion-item> LISTE DE TOUTES LES INTERVENTIONS </ion-item>
         <ngx-datatable

        [rows]="dataInterventions"
        [ngClass]="'material'"
        [rowHeight]="'auto'"
        [headerHeight]="50"
        [columnMode]="'force'"
        [limit]="3"
        [footerHeight]="50"
        [sortType]="'multi'"
        [headerHeight]="50"
        >
        <ngx-datatable-column name="lieu intervention">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.LieuIntervention}}   
           </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="date debut">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.DateDebutIntervention}}   
           </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="action" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-button size="small" fill="outline" >detail </ion-button>
        </ng-template>
        </ngx-datatable-column>
     </ngx-datatable>
         
    </ion-col>
   
    <ion-col>
        <ion-card color="primary">
            <ion-card-header><ion-card-title>Nombre d'intervention</ion-card-title></ion-card-header>
            <ion-card-content> 15 </ion-card-content>
          </ion-card>
            <ion-list >
                <ion-item color="primary">intervention à realiser : 2</ion-item>
                <ion-item color="tertiary">intervention en cours: 5 </ion-item>
                <ion-item color="primary">intervention terminée : 10</ion-item>
              </ion-list>
    </ion-col>
  </ion-row>
  <ion-row >
          <ion-col size=6>
               <ion-card>
                 <ion-card-header>
                   Bar Chart
                 </ion-card-header>
                 <ion-card-content>
                   <canvas #barCanvas></canvas>
                 </ion-card-content>
               </ion-card>
             </ion-col>
         
             <ion-col size=6>
             <ion-card>
                 <ion-card-header>
                   Doughnut Chart
                 </ion-card-header>
                 <ion-card-content>
                   <canvas #doughnutCanvas></canvas>
                 </ion-card-content>
               </ion-card>
             </ion-col>
        </ion-row>
<ion-row>
    <ion-col size = 6>
        <ion-card>
          <ion-card-header>
            Line Chart
          </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    <ion-col size=6>
        <ion-card>
            <ion-card-header>
              Pie chart
            </ion-card-header>
            <ion-card-content>
              <canvas #pieCanvas></canvas>
            </ion-card-content>
          </ion-card>
      </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size=5>
              <ion-card>
                  <ion-card-header>
                    horizontal line 
                  </ion-card-header>
                  <ion-card-content>
                    <canvas #hrzLineChart3></canvas>
                  </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size=5>
              <ion-card>
                  <ion-card-header>
                    horizontal line 
                  </ion-card-header>
                  <ion-card-content>
                    <canvas #hrzLineChart4></canvas>
                  </ion-card-content>
                </ion-card>
            </ion-col>
      </ion-row>
</ion-content>
