
<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Détail Utilisateur</ion-title>
        <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-toolbar>
    <ion-grid>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Nom Utilisateur: " [(ngModel)]="detaildata.NomUser" required="true">
              </owl-form-field>
          </ion-col>
          <ion-col>
              <owl-form-field>
                  <input owlInput placeholder="Contact(s): " [(ngModel)]="detaildata.ContactUser" required="true">
              </owl-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Email: " [(ngModel)]="detaildata.MailUser" required="true">
                </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Pseudo: " [(ngModel)]="detaildata.PseudoUser" required="true">
                </owl-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <owl-form-field>
                  <input type="password" owlInput placeholder="Mot de passe: " [(ngModel)]="detaildata.MotDePasse" required="true">
              </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                  <owl-select [(ngModel)]="detaildata.IdProfil" placeholder="Profil">
                      <owl-option>
                          Aucun
                        </owl-option>
                    <owl-option *ngFor="let profil of UserprofilData" [value]="profil._id">
                      {{profil.nomProfil}}
                    </owl-option>
                  </owl-select>
                </owl-form-field>
            </ion-col>
          </ion-row>
    </ion-grid>
</ion-card>