
<ion-card>
    <ion-toolbar color="tertiary">
        <ion-title>Créer Rôle</ion-title>
        <ion-button slot="start" [routerLink]="['/administrateur']" fill="clear" > 
          <ion-icon color="light" name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-toolbar>
    <ion-grid>
        <ion-row>
            <ion-col>
                <owl-form-field>
                    <input owlInput placeholder="Code: " [(ngModel)]="dataRole.CodeRole" required="true">
                </owl-form-field>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <owl-form-field>
                  <textarea owlInput placeholder="Intitulé: " [(ngModel)]="dataRole.IntituleRole" required="true">
                  </textarea>
              </owl-form-field>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item lines="none">
        <ion-button slot="end" (click)="submitForm()"> 
          Ajouter
        </ion-button>
    </ion-item>
  </ion-card>
