<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Liste Zones</ion-title>
    <ion-fab-button (click)="openAddModal()" slot="end" size="small"><ion-icon name="add">
    </ion-icon></ion-fab-button>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    
    <ngx-datatable
      class="material"
      [rows]="zonesData"
      [rowHeight]="'auto'"
      [limit]="3"
      [footerHeight]="50"
      [sortType]="'multi'"
      [headerHeight]="50"
      [columnMode]="'force'">
      <ngx-datatable-column name="Nom" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.NomZone}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Indication">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.IndicationZone}}
            </ng-template>
      </ngx-datatable-column>
  
      <!--- create a column for action detail, delte, update -->
      <ngx-datatable-column name="Actions" [sortable]="true">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            
            <ion-button size="small" (click)="openEditModal(row)">
              <ion-icon color="warning"  name="create"></ion-icon>
            </ion-button>
  
            <ion-button size="small" (click)=openDetailModal(row)>
              <ion-icon color="success" name="eye"></ion-icon>
            </ion-button>
            
            <ion-button size="small" (click)="delete(row)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
            </ng-template>
      </ngx-datatable-column>
    
    </ngx-datatable>
  </ion-content>