<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>Administrateur</ion-title>
      <ion-item slot="end" color="medium" button="true" (click)="presentPopover($event)">
        <ion-avatar>
          <ion-img src="/assets/userConnect.png" style="background-color: #05737d;"></ion-img>
        </ion-avatar>
        <ion-label>{{userConnectName}}</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>

<div class="ion-padding">
    <ion-segment color="medium" [(ngModel)]="administrateurPages">

      <ion-segment-button value="ProflilsRoles" >
        Profils / Rôles
      </ion-segment-button>

      <ion-segment-button value="usersPage" checked="true">
        Utilisateurs
      </ion-segment-button>

      <ion-segment-button value="EquipesZonesPage"  >
        Equipes / Zones
      </ion-segment-button>

    </ion-segment>
</div>  
<ion-content class="ion-padding" [ngSwitch]="administrateurPages">
    
  <ion-card *ngSwitchCase="'usersPage'">
    <ion-card-header color="medium">
      <ion-card-title>Liste du Personnel
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
          <ion-fab-button color="medium" [routerLink]="['/utilisateur-create']" slot="end" size="small" [hidden]=isRoleAddUser><ion-icon name="add">
          </ion-icon></ion-fab-button>
          <ion-searchbar (keyup)="searchUserData($event)" placeholder="Rechercher..." animated="true"></ion-searchbar>
        </ion-item>
         <ngx-datatable
            class="material"
            [rowHeight]="'auto'"
            [sortType]="'multi'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rows]="utilisateursData"
            [columnMode]="'force'"
            [limit]="4">
            <ngx-datatable-column name="Nom">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.NomUser}}
                  </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Contact">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.ContactUser}}
                </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Pseudo">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.PseudoUser}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Profil">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ion-label *ngIf='row.IdProfil'>
                {{row.IdProfil.nomProfil}}
            </ion-label>
          </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column name="Actions" *ngIf="isAllRolesUser">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              
              <ion-button color="medium" size="small" routerLink='/utilisateur-edit/{{row._id}}' [hidden]=isRoleEditUser>
                <ion-icon fill="outLine" color="warning" name="create"></ion-icon>
              </ion-button>
    
              <ion-button color="medium" size="small" routerLink='/utilisateur-detail/{{row._id}}' [hidden]=isRoleDetailUser>
                <ion-icon color="success" name="eye"></ion-icon>
              </ion-button>
              
              <ion-button color="medium" size="small" (click)="delete(row,1)" [hidden]=isRoleDeleteUser>
                  <ion-icon color="danger" name="trash"></ion-icon>
                </ion-button>
              </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </ion-card-content>
  </ion-card>

  <div *ngSwitchCase="'EquipesZonesPage'">
    <ion-card>
        <ion-card-header color="medium">
              <ion-card-title>Liste des Equipes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-searchbar (keyup)="searchEquipeData($event)" placeholder="Rechercher..." animated="true"></ion-searchbar>
              <ion-fab-button color="medium" [routerLink]="'/equipe-create'" slot="end" size="small" [hidden]=isRoleAddEquipe><ion-icon name="add">
                </ion-icon></ion-fab-button>
            </ion-item>
              <ngx-datatable
              [rowHeight]="'auto'"
              [sortType]="'multi'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rows]="dataEquipe"
              [columnMode]="'force'"
              [limit]="4"
              class="material">
                 
                 <ngx-datatable-column name="Nom">
                     <ng-template let-row="row" ngx-datatable-cell-template>
                         {{row.NomEquipe}}
                       </ng-template>
                 </ngx-datatable-column>
                 <ngx-datatable-column name="Description">
                     <ng-template let-row="row" ngx-datatable-cell-template>
                         {{row.descriptionEquipe}}
                       </ng-template>
                 </ngx-datatable-column>
                 <ngx-datatable-column name="Date Création" [sortable]="true">
                     <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.DateCreation.split("T")[0].split("-").reverse().join("/")}}     
                       </ng-template>
                 </ngx-datatable-column>
             
                 <!--- create a column for action detail, delte, update -->
                 <ngx-datatable-column name="Actions" *ngIf="isAllRolesEquipe">
                   <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                       
                       <ion-button color="medium" size="small" routerLink='/equipe-edit/{{row._id}}' [hidden]=isRoleEditEquipe>
                         <ion-icon color="warning"  name="create"></ion-icon>
                       </ion-button>
             
                       <ion-button color="medium" size="small" routerLink='/equipe-detail/{{row._id}}' [hidden]=isRoleDetailEquipe>
                         <ion-icon color="success" name="eye"></ion-icon>
                       </ion-button>
                       
                       <ion-button color="medium" size="small" (click)="delete(row,2)" [hidden]=isRoleDeleteEquipe>
                           <ion-icon color="danger" name="trash"></ion-icon>
                         </ion-button>
                       </ng-template>
                 </ngx-datatable-column>
               </ngx-datatable> 
          </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-card-header color="medium">
            <ion-title>Liste des Zones</ion-title>
            <!-- <ion-fab-button [routerLink]="'/zone-create'" slot="end" size="small" [hidden]=isRoleAddZone><ion-icon name="add">
            </ion-icon></ion-fab-button> -->
      </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-searchbar (keyup)="searchZoneData($event)" placeholder="Rechercher..." animated="true"></ion-searchbar>
                <ion-fab-button color="medium" [routerLink]="'/zone-create'" slot="end" size="small" [hidden]=isRoleAddZone><ion-icon name="add">
                </ion-icon></ion-fab-button>
            </ion-item>
            <ngx-datatable
            class="material"
            [rows]="zonesData"
            [rowHeight]="'auto'"
            [limit]="4"
            [footerHeight]="50"
            [sortType]="'multi'"
            [headerHeight]="50"
            [columnMode]="'force'">
            <ngx-datatable-column name="Nom" [sortable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.NomZone}}
                  </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Indication">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.IndicationZone}}
                  </ng-template>
            </ngx-datatable-column>
        
            <!--- create a column for action detail, delte, update -->
            <ngx-datatable-column name="Actions" [sortable]="true" *ngIf="isAllRolesZone">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  
                  <ion-button color="medium" size="small" routerLink='/zone-edit/{{row._id}}' [hidden]=isRoleEditZone>
                    <ion-icon color="warning"  name="create"></ion-icon>
                  </ion-button>
        
                  <ion-button color="medium" size="small" routerLink='/zone-detail/{{row._id}}' [hidden]=isRoleDetailZone>
                    <ion-icon color="success" name="eye"></ion-icon>
                  </ion-button>
                  
                  <ion-button color="medium" size="small" (click)="delete(row,3)" [hidden]=isRoleDeleteZone>
                      <ion-icon color="danger" name="trash"></ion-icon>
                    </ion-button>
                  </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngSwitchCase="'ProflilsRoles'">
    <ion-card>
      <ion-card-header color="medium">
          <ion-card-title>Liste des Profils </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-item>
              <ion-searchbar (keyup)="searchProfilData($event)" placeholder="Rechercher..." animated="true"></ion-searchbar>
              <ion-fab-button color="medium" [routerLink]="'/profil-create'" slot="end" size="small" [hidden]=isRoleAddProfil><ion-icon name="add">
              </ion-icon></ion-fab-button>
          </ion-item>
          <ngx-datatable
          class="material"
          [rowHeight]="'auto'"
          [sortType]="'multi'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rows]="ProfilData"
          [columnMode]="'force'"
          [limit]="5">
          <ngx-datatable-column name="Code">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.codeProfil}}
                </ng-template>
          </ngx-datatable-column>
            
            <ngx-datatable-column name="Intitulé">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.nomProfil}}
                  </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions" [sortable]="true" *ngIf="isAllRolesProfil">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  
                  <ion-button color="medium" size="small"  routerLink='/profil-edit/{{row._id}}' [hidden]=isRoleEditProfil>
                    <ion-icon color="warning"  name="create"></ion-icon>
                  </ion-button>
        
                  <ion-button color="medium" size="small"routerLink='/profil-detail/{{row._id}}' [hidden]=isRoleDetailProfil>
                    <ion-icon color="success"   name="eye"></ion-icon>
                  </ion-button>
                  
                  <ion-button color="medium" size="small" (click)="delete(row,4)" [hidden]=isRoleDeleteProfil>
                      <ion-icon color="danger" name="trash"></ion-icon>
                    </ion-button>
                  </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-card>
      <ion-card-header color="medium">
          <ion-title>Liste des Roles </ion-title>
          <ion-fab-button slot="end" size="small"><ion-icon name="add"></ion-icon>
          </ion-fab-button>
      </ion-card-header>
      <ion-card-content>
          <ion-item>
              <ion-searchbar (keyup)="searchRoleData($event)" placeholder="Rechercher..." animated="true"></ion-searchbar>
              <!-- <ion-fab-button [routerLink]="'/role-create'" slot="end" size="small"><ion-icon name="add">
              </ion-icon></ion-fab-button> -->
          </ion-item>
              <ngx-datatable
              [rowHeight]="'auto'"
              [sortType]="'multi'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rows]="roleData"
              [columnMode]="'force'"
              class="material"
              [limit]="7">
                <!-- <ngx-datatable-column name="Id Role" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row._id}}
                      </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Code">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.CodeRole}}
                      </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Intitule">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.IntituleRole}}
                      </ng-template>
                </ngx-datatable-column>
        </ngx-datatable>    
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>