<ion-header>
  <ion-toolbar>
    <ion-title>Modification de diagnostique </ion-title>
  </ion-toolbar>
</ion-header>      
      <ion-content padding>
        <ion-item > 
          <ion-label>description du probleme : </ion-label>
          <ion-input required="true" clearInput="true" [(ngModel)]="DiagnostiqueEdit.DescriptionProbleme" placeholder="Saisir le Nom ici">
          </ion-input>
        </ion-item>
      
        <ion-item>
            <ion-label>Designation des pieces : </ion-label>
            <ion-textarea rows="3" cols="5" wrap="soft" clearInput="true" [(ngModel)]="DiagnostiqueEdit.DesignationPieces" placeholder="Saisir la description ici">
            </ion-textarea>
            </ion-item>
      
        <ion-item > 
            <ion-label>Quantite : </ion-label>
            <ion-textarea rows="3" cols="5" wrap="soft" clearInput="true" [(ngModel)]="DiagnostiqueEdit.Quantite" placeholder="Saisir la description ici">
            </ion-textarea>
          </ion-item>
          
        <ion-item lines="none">
            <ion-button (click)="closeModal()" color="danger" size="small"> annuler</ion-button>
            <ion-button (click)="update()" color="success" size="small"> Modifier</ion-button>
        </ion-item>
        </ion-content>
    
