<!-- <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Dévis</ion-title>
    </ion-toolbar>
  </ion-header>
   -->
   <ion-content>
    <ion-card full>
      <ion-card-header color="tertiary">
              <ion-title>Rapport</ion-title>
      </ion-card-header>
      <ion-card-content>

          <ion-item lines="full"> 
              <ion-label>Intervention : </ion-label>
              <ion-input [(ngModel)]="dataRapport.IdIntervention">
              </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Date Début: </ion-label>
            <ion-datetime [(ngModel)]="dataRapport.DateDebut" displayFormat="DD/MM/YYYY" max="2025-12-31" cancelText="Fermer" mode="md" name="Date de Création" doneText="Choisir" placeholder="Saisir la Date de début du travrail ici">
            </ion-datetime>
          </ion-item>

          <ion-item>
              <ion-label>Date Fin: </ion-label>
              <ion-datetime [(ngModel)]="dataRapport.DateFin" displayFormat="DD/MM/YYYY" max="2025-12-31" cancelText="Fermer" mode="md" name="Date de Création" doneText="Choisir" placeholder="Saisir la Date de début du travrail ici">
              </ion-datetime>
          </ion-item>

          <ion-item lines="none"> 
              <ion-label>Description du Travail : </ion-label>
              <ion-textarea [(ngModel)]="dataRapport.DescriptionTravail" rows="3" cols="5" wrap="soft" clearInput="true" placeholder="Saisir la description ici">
              </ion-textarea>
            </ion-item>  

          <ion-item lines="none">
              <ion-thumbnail slot="start">
                  <ion-img [src]="imageFinIntervention"></ion-img>
              </ion-thumbnail>
              <ion-button (click)="getPicture()"><ion-icon name="camera"></ion-icon></ion-button>
              <ion-label>Capture du travail final </ion-label>
            </ion-item>

            <ion-item >
              <ion-card> 
                  <ion-card-header color="secondary"><ion-label>Signature Intervenant</ion-label></ion-card-header>
                  <ion-card-content>
                    <signature-pad ></signature-pad>
                  <!-- <ion-button color="danger" full><ion-icon name="clear"></ion-icon></ion-button> -->
                  </ion-card-content>
              </ion-card>
              <ion-card> 
                  <ion-card-header color="secondary"><ion-label>Signature Client :</ion-label></ion-card-header>
                  <ion-card-content>
                    <signature-pad></signature-pad>
                  </ion-card-content>
              </ion-card>
              
          </ion-item>
          <ion-item lines="none">
              <ion-button slot="end" color="danger"> 
                  <ion-icon name="refresh"></ion-icon>
                  Actualiser
              </ion-button>
              <ion-button (click)="submitForm()" slot="end"> 
                  Créer
              </ion-button>
            </ion-item>
      </ion-card-content>
    <div class="ion-padding">
      <ngx-datatable
      class="material"
      [rows]="rapportData"
      [rowHeight]="'auto'"
      [limit]="3"
      [footerHeight]="50"
      [sortType]="'multi'"
      [headerHeight]="50"
      [columnMode]="'force'">

      <ngx-datatable-column name="Id Intervention">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.IdIntervention}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Description Travail">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DescriptionTravail}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date Début">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DateDebut}}
            </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date Fin" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DateFin}}
            </ng-template>
      </ngx-datatable-column>
  
      <!-- create a column for action detail, delte, update -->
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>        
            <ion-button size="small" (click)="delete(row)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
        </ng-template>
      </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </ion-card>
</ion-content>