<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      DashBoard
    </ion-title>
    <ion-item color="medium" slot="end" button="true" (click)="presentPopover($event)">
      <ion-avatar color="medium">
        <img src="assets/userConnect.jpg">
      </ion-avatar>
      <ion-label>{{userConnectName}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-card>
        <ion-card-header>
          <ion-item lines="none">
          <ion-card style="width: 170px;" button="true" (click)="OpenFen('Planifiee',valeurPlanifie)"> 
            <ion-card-header color="dark">{{valeurPlanifie}}</ion-card-header>
            <ion-card-content>Planifiées</ion-card-content>
          </ion-card>
          
          <ion-card style="width: 170px;" button="true" (click)="OpenFen('EnCours',valeurEncours)" color="transparent"> 
            <ion-card-header color="secondary">{{valeurEncours}}</ion-card-header>
            <ion-card-content color="transparent">En cours...</ion-card-content>
          </ion-card>
      
          <ion-card style="width: 170px;" button="true" (click)="OpenFen('Terminee',valeurTermine)"> 
              <ion-card-header  color="success">{{valeurTermine}}</ion-card-header>
              <ion-card-content>Réalisées</ion-card-content>
            </ion-card>
        
            <ion-card style="width: 170px;" button="true" (click)="OpenFen('Suspendue', valeurTermine)"> 
                <ion-card-header color="danger">{{valeurSuspendue}}</ion-card-header>
                <ion-card-content>Suspendues</ion-card-content>
            </ion-card>
          </ion-item>
            
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <owl-form-field>
                <input [(ngModel)]="grapheStartDate" owlInput   placeholder="Période du: " [owlDateTimeTrigger]="dateDebut" [owlDateTime]="dateDebut">
                <owl-date-time (afterPickerClosed)="getSelectPeriodData()"  #dateDebut></owl-date-time>
              </owl-form-field>
            </ion-col>
            <ion-col>
                <owl-form-field>
                  <input owlInput [(ngModel)]="grapheEndDate" placeholder="Au: " [owlDateTimeTrigger]="finDate" [owlDateTime]="finDate">
                  <owl-date-time (afterPickerClosed)="getSelectPeriodData()"  #finDate></owl-date-time>
                </owl-form-field>
              </ion-col> 
          </ion-row>
          <canvas #general width="500" height="50"></canvas>
        </ion-card-content>
      </ion-card>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button (click)="shouldShow = !shouldShow" color="primary" fill="outline">plus<ion-icon name="add" color="primary"></ion-icon></ion-button>
    </ion-col>
      
  </ion-row>

    <ion-row id="row1" [ngClass]="{show: !shouldShow, hide: shouldShow}" >
        <ion-col>
            <ion-card>
                <ion-card-header>
                  <ion-card-title>Planifiées</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #Planifiee></canvas>
                </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
                <ion-card-header>
                  <ion-card-title>En cours...</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #enCours></canvas>
                </ion-card-content>
              </ion-card>
          </ion-col>
    </ion-row>
     <ion-row [ngClass]="{show: !shouldShow, hide: shouldShow}" >
        <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Réalisées</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <canvas #Realisee></canvas>
              </ion-card-content>
              </ion-card>
          </ion-col> 
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Suspendues</ion-card-title>
              </ion-card-header>
                <ion-card-content>
                  <canvas #nonAboutie></canvas>
                </ion-card-content>
              </ion-card>
          </ion-col>
         
    </ion-row>
  </ion-grid>
</ion-content>
 

