

.authModal
{
    --background: red !important;
}

.show {
    opacity: 1;
   // transition: opacity 2s;
    transition: all linear 2s;
 }
 
 .hide {
    opacity: 0;
    //transition: opacity 2s;
    transition: all linear 0.5s;
 }