<ion-header>
  <ion-toolbar color="primary">
    <ion-title>creation de diagnostique</ion-title>
    <ion-button fill="outLine" slot="end" (click)="closeModal()">X</ion-button>
    <ion-item slot="end">
      <ion-avatar>
        <img src="/assets/userConnect.png">
      </ion-avatar>

      <ion-label>{{userConnectData.NomUser}}</ion-label>
    </ion-item>
    <ion-label #roleId ></ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
 <!--problem of save selected data-->
        <ion-item>
          <ion-label>choix intervention </ion-label>
          <ion-select [(ngModel)]="dataDiagnostique.IdIntervention">
            <ion-select-option *ngFor="let dataInterv of interventionData" [value]="dataInterv._id">{{dataInterv.OrdreIntervention}}</ion-select-option>
          </ion-select>
        </ion-item>
      

      <ion-item>
          <ion-label>Description du probleme : </ion-label>
          <ion-textarea rows="1" cols="5" clearInput="true"  [(ngModel)]="dataDiagnostique.DescriptionProbleme" placeholder="decrire le probleme ici "  maxLength="500"></ion-textarea>
      </ion-item>
    
      <ion-item > 
          <ion-label>Degnation de pieces  : </ion-label>
          <ion-textarea rows="3" cols="5" wrap="soft" clearInput="true" [(ngModel)]="dataDiagnostique.DesignationPieces" placeholder="disignez les pieces ici">
          </ion-textarea>

        </ion-item>

        <ion-item > 
            <ion-label>Quantité de pieces  : </ion-label>
            <ion-input clearInput="true" [(ngModel)]="dataDiagnostique.Quantite"></ion-input>      
          </ion-item>
     <ion-item lines="none">
      <ion-button (click)="closeModal()" color="danger" > 
              Quitter
      </ion-button>
      <ion-button (click)="submitForm()"> 
            Ajouter
          </ion-button>
      </ion-item>
      <ion-item>
        <ion-button>
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <ion-button>
            <ion-icon name="download"></ion-icon>
        </ion-button>
        <ion-button>
            <ion-icon name="document"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="afficher-photo1">
      <ion-card class="afficher-photo1">
        photo prise 
      </ion-card>
      </div>
      

      
</ion-content>
