<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Créer une Intervention</ion-title>
      <ion-button slot="start" [routerLink]="['/intervention-list']" fill="clear"> 
        <ion-icon color="light" name="arrow-round-back"></ion-icon>
      </ion-button>
      <ion-item slot="end" color="transparent">
        <ion-avatar>
          <img src="/assets/userConnect.png">
        </ion-avatar>
  
        <!-- <ion-label>{{userConnectData.NomUser}}</ion-label> -->
      </ion-item>
      <ion-label #roleId ></ion-label>
      <!-- <ion-back-button color="danger"></ion-back-button> -->
      <!-- <ion-button fill="clear" slot="end" color="light" (click)="closeModal()"><ion-icon name="eye"></ion-icon>Voir</ion-button> -->
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
      <ion-segment [(ngModel)]="AddIntervention">

        <ion-segment-button value="AddDetail" checked="true">
          Plannification
        </ion-segment-button>

        <ion-segment-button value="AddDiagnostic" disabled="true" >
          Diagnostic
        </ion-segment-button>

        <ion-segment-button value="AddDevisPage" disabled="true"  >
            Dévis
        </ion-segment-button>
        <ion-segment-button value="AddRapport" disabled="true">
          Rapports
        </ion-segment-button>

      </ion-segment>
  </div>

<ion-content [ngSwitch]="AddIntervention">

    <!-- Ajouter info intervention -->
  <ion-card *ngSwitchCase="'AddDetail'" class="ion-padding">
    <ion-card-header color="tertiary">
      <ion-card-title>
        Détail
      </ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <!-- <ion-col>
          <ion-label>N° d'Intervention</ion-label>
         <ion-input [(ngModel)]="dataIntervention.OrdreIntervention">
           {{code}}
         </ion-input>
        </ion-col> -->
        <ion-col>
          <owl-form-field> 
              <input  owlInput placeholder="Ordre d'Intervention: "  size="auto" clearInput="true" [(ngModel)]="dataIntervention.OrdreIntervention" required="true">
          </owl-form-field>
        </ion-col>
        <ion-col>
          <owl-form-field>
            <owl-select [(ngModel)]="dataIntervention.typeIntervention"  placeholder="type intervention" required="true">
            <owl-option [value]="'entretien'">entretien</owl-option>
            <owl-option [value]="'preventif'">préventif</owl-option>
            <owl-option [value]="'depannage'">depannage</owl-option>
            <owl-option [value]="'Deplacement'">Deplacement d'equipement </owl-option>
          </owl-select>
      </owl-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <owl-form-field>
          <input owlInput placeholder="Période du: " [owlDateTimeTrigger]="selectDateDebut" [(ngModel)]="dataIntervention.DateDebutIntervention" [owlDateTime]="selectDateDebut">
          <owl-date-time #selectDateDebut></owl-date-time>
          </owl-form-field>
      </ion-col>
      <ion-col>
        <owl-form-field>
          <input  owlInput placeholder="Au:" [owlDateTimeTrigger]="selectDateFin" [owlDateTime]="selectDateFin"  [(ngModel)]="dataIntervention.DateFinIntervention">
          <owl-date-time #selectDateFin></owl-date-time>
        </owl-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <owl-form-field>
            <input placeholder="Frais de deplacement: " owlInput type="number" [(ngModel)]="dataIntervention.FraisDeplacement">
        </owl-form-field>
        </ion-col>
      <ion-col>
          <owl-form-field>
            <input owlInput placeholder="Objet d'intervention: " [(ngModel)]="dataIntervention.ObjetIntervention">
          </owl-form-field>
      </ion-col>
    </ion-row> 
    <ion-row>
     <ion-col>
        <owl-form-field>
          <input  owlInput placeholder="Nom du Client: " size="auto" clearInput="true" [(ngModel)]="dataIntervention.Client">
        </owl-form-field>
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col>
        <owl-form-field>
        <input owlInput placeholder="Lieu intervention: " size="auto" clearInput="true" [(ngModel)]="dataIntervention.LieuIntervention">
      </owl-form-field>
    </ion-col>
    <ion-col>
        <owl-form-field>
        <input owlInput placeholder="Adresses: email, tel, cel,..." size="auto" clearInput="true"[(ngModel)]="dataIntervention.Adresses">
      </owl-form-field>
    </ion-col>
  </ion-row>
  <ion-row>
</ion-row>
<ion-row>
  <ion-col>
    <owl-form-field> 
      <textarea owlInput [(ngModel)]="dataIntervention.DescriptionIntervention" placeholder="Description: ">
      </textarea>
      </owl-form-field>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <owl-form-field>
        <owl-select  [(ngModel)]="dataIntervention.ZoneAffectee" placeholder="Zone :" (selectPanelClose)="getZoneEquipes(dataIntervention.ZoneAffectee)">
        <owl-option *ngFor="let zone of dataZone" [value]="zone._id" >{{zone.NomZone}}</owl-option>
        </owl-select>
      </owl-form-field>
  </ion-col>
  <ion-col>
    <owl-form-field>
        <owl-select multiple="true"  [(ngModel)]="dataIntervention.EquipeAffectee" placeholder="Equipe(s)Affectée(s) :" (selectPanelClose)="getAgentsEquipe(dataIntervention.EquipeAffectee)">
            <owl-option *ngFor="let equipe of dataEquipe" [value]="equipe._id">{{equipe.NomEquipe}}</owl-option>
        </owl-select>
      </owl-form-field>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    <owl-form-field>
        <owl-select multiple="true" [(ngModel)]="dataIntervention.AgentAffectes" placeholder="Agent(s) Affecté(s):">
        <owl-option *ngFor="let user of dataUser" [value]="user._id">{{user.NomUser}}</owl-option>
        </owl-select>
      </owl-form-field> 
    </ion-col>
    <ion-col>
    <owl-form-field>
      <owl-select multiple="true"  [(ngModel)]="dataIntervention.AutreAgents" placeholder=" autres agents:">
      <owl-option *ngFor="let user1 of otherUser" [value]="user1._id">{{user1.NomUser}}</owl-option>
      </owl-select>
    </owl-form-field> 
  </ion-col>
</ion-row>

</ion-grid>
  <ion-item>
    <ion-button slot="end" (click)="submitForm()"> 
        Ajouter
    </ion-button>
  </ion-item>
</ion-card>
</ion-content>
  