<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Details Intervention</ion-title>
      <ion-button [routerLink]="['/intervention-list']" slot="start" fill="clear"><ion-icon color="light" name="arrow-round-back"></ion-icon></ion-button>
    </ion-toolbar>
    
  </ion-header>
  <!-- style="border:1px solid blue" -->
  <div class="ion-padding">
      <ion-segment [(ngModel)]="interventionSegment">
        <ion-segment-button value="details" checked="true">
          Details
        </ion-segment-button>
        <ion-segment-button value="diagnostics"  >
          Diagnostics
        </ion-segment-button>
        <ion-segment-button value="devis" >
            Dévis
        </ion-segment-button>
        <ion-segment-button value="rapports" >
          Rapports
        </ion-segment-button>
      </ion-segment>
    </div>  
    <ion-content class="ion-padding" [ngSwitch]="interventionSegment">
  
   <!-- Ajouter info intervention -->

   <ion-card *ngSwitchCase="'details'">
    <ion-card-header color="tertiary">
      <ion-card-title>
        Détail
      </ion-card-title>
    </ion-card-header>
<ion-grid>
      <ion-row>
        <ion-col>
            <owl-form-field>
                <input owlInput readonly="true" placeholder="Ordre d'Intervention: " [(ngModel)]="data.OrdreIntervention" required="true">
            </owl-form-field>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <owl-form-field>
            <input disabled=true  owlInput placeholder="date de début" [owlDateTimeTrigger]="selectDateDebut" [(ngModel)]="data.DateDebutIntervention" [owlDateTime]="selectDateDebut">
            <owl-date-time [pickerType]="'calendar'" #selectDateDebut></owl-date-time>   
            </owl-form-field>
      </ion-col>
    <ion-col>
           <owl-form-field>
              <input disabled=true owlInput placeholder="date de fin" [owlDateTimeTrigger]="selectDateFin"  [(ngModel)]="data.DateFinIntervention" [owlDateTime]="selectDateFin">
              <owl-date-time [pickerType]="'calendar'" #selectDateFin></owl-date-time>
            </owl-form-field>
      </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
            <owl-form-field>
              <input readonly="true"  placeholder="Frais de deplacement: " owlInput type="number" [(ngModel)]="data.FraisDeplacement">
          </owl-form-field>
         </ion-col>
        <ion-col>
            <owl-form-field>
              <input readonly="true"  owlInput placeholder="Objet d'intervention " [(ngModel)]="data.ObjetIntervention">
            </owl-form-field>
        </ion-col>
    </ion-row> 
   <ion-row>
    <ion-col>
      <owl-form-field>
        <input readonly="true"  owlInput placeholder="Statut de l'intervention : " [(ngModel)]="data.statut">
      </owl-form-field>
     </ion-col>
     <ion-col>
      <owl-form-field>
        <input readonly="true"  owlInput placeholder="Nom du Client : " [(ngModel)]="data.Client">
      </owl-form-field>
     </ion-col>
   </ion-row>
   <ion-row>
    <ion-col>
        <owl-form-field>
        <input readonly="true" owlInput placeholder="Lieu intervention : " [(ngModel)]="data.LieuIntervention">
      </owl-form-field>
    </ion-col>
    <ion-col>
        <owl-form-field>
        <input readonly="true"  owlInput placeholder="Adresses : email, tel, cel,..." [(ngModel)]="data.Adresses">
      </owl-form-field>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
          <owl-form-field > 
              <textarea readonly="true"  owlInput [(ngModel)]="data.DescriptionIntervention" placeholder="Description: ">
              </textarea>
            </owl-form-field>
      </ion-col>
  </ion-row>
  <ion-row>
        <ion-col>
            <owl-form-field>
                <owl-select disabled=true  [(ngModel)]="data.ZoneAffectee"
               placeholder="Choisir une zone">
                <owl-option  *ngFor="let intervention of dataZone" [value]="intervention._id">{{intervention.NomZone}}</owl-option>
        </owl-select>
        </owl-form-field>
        </ion-col>
          <ion-col>
            <owl-form-field>
                <owl-select disabled=true  [(ngModel)]="data.EquipeAffectee"
                     multiple ="true"
                     placeholder="Choisir une equipe">
                    <owl-option *ngFor="let equipeAffecte of dataEquipe" [value]="equipeAffecte._id">{{equipeAffecte.NomEquipe}}</owl-option>
                </owl-select>
            </owl-form-field>
            </ion-col>
    </ion-row>
<ion-row>
  <ion-col>
      <owl-form-field>
            <owl-select disabled=true  [(ngModel)]="data.AgentAffectes"
            multiple ="true"
           placeholder="Affecter des agent(s)">
            <owl-option *ngFor="let agentAffecte of dataUserIntervention" [value]="agentAffecte._id">{{agentAffecte.NomUser}}</owl-option>
    </owl-select>
    </owl-form-field>
    </ion-col>
    <ion-col>
        <owl-form-field>
          <owl-select disabled=true  multiple="true"  [(ngModel)]="data.AutreAgents" placeholder=" autres agents:">
          <owl-option *ngFor="let user1 of otherUser" [value]="user1._id">{{user1.NomUser}}</owl-option>
          </owl-select>
        </owl-form-field> 
      </ion-col>  
</ion-row>
</ion-grid>
</ion-card>

<ion-card *ngSwitchCase="'diagnostics'">
    <ion-card-header color="tertiary" full>
        <ion-title>Détail Diagnostic</ion-title>
    </ion-card-header>
      <div class="ion-padding">
        <ngx-datatable
        class="material"
        [rows]="DiagnosticsIntervention"
        [rowHeight]="'auto'"
        [limit]="3"
        [footerHeight]="50"
        [sortType]="'multi'"
        [headerHeight]="50"
        [columnMode]="'force'">
  
        <ngx-datatable-column name="Description Probleme">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.DescriptionProbleme}}
              </ng-template>
        </ngx-datatable-column> 
        </ngx-datatable>
      </div>
  

  </ion-card>
  
  <!-- Affichage de devis on devis page selected -->
  <ion-card *ngSwitchCase="'devis'">
      <ion-card-header color="tertiary" full>
          <ion-title>Détail Devis</ion-title>
      </ion-card-header>
  <div class="ion-padding">
      <ngx-datatable
      class="material"
      [rows]="dataDevis"
      [rowHeight]="'auto'"
      [limit]="3"
      [footerHeight]="50"
      [sortType]="'multi'"
      [headerHeight]="50"
      [columnMode]="'force'">

      <ngx-datatable-column name="Désignation Pièce">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.IdPieces.designationPiece}}
            </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column name="Quantité Pièce:">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.Quantite}}
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
  </div>
  </ion-card>
  
  <!-- Affichage Rapport on rapport page selected -->
    <ion-card *ngSwitchCase="'rapports'">
      <ion-card-header color="tertiary">
              <ion-title>Rapport</ion-title>
      </ion-card-header>
      <ion-row>
          <ion-col>
          <owl-form-field>
            <input owlInput placeholder="Ordre d'intervention :" [(ngModel)]="data.OrdreIntervention">
          </owl-form-field>
          </ion-col>
        </ion-row>

    <div class="ion-padding">
      <ngx-datatable
      class="material"
      [rows]="dataRapport"
      [rowHeight]="'auto'"
      [limit]="3"
      [footerHeight]="50"
      [sortType]="'multi'"
      [headerHeight]="50"
      [columnMode]="'force'">

      <ngx-datatable-column name="Description Travail">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DescriptionTravail}}
            </ng-template>
      </ngx-datatable-column> -->
       <!-- <ngx-datatable-column name="Date Début:">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DateDebut.split("T")[0].split("-").reverse().join("/")}}
            </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Date Fin:" [sortable]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.DateFin.split("T")[0].split("-").reverse().join("/")}}
            </ng-template>
      </ngx-datatable-column>
      <!-- create a column for action detail, delte, update -->
      <!-- <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>        
            <ion-button size="small" (click)="delete(row)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
        </ng-template>
      </ngx-datatable-column> -->
      </ngx-datatable>
    </div>
  </ion-card>
</ion-content>
  